// Color Variables
$primary-color: #74ac31;
$secondary-color: #080c11;
$text-color: #58595a;
$text-color-dark: #414040;
$body-color: #fff;
$border-color: #e7e7e7;
$black: #000;
$white: #fff;
$gray: #f5f6fa;

// Font Variables
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Barlow Condensed', sans-serif;
$icon-font: 'FontAwesome';